{% extends 'base.html' %}

{% block title %}Customers data{% endblock title %}


{% block content %}

<h1> Correlation: {{corr}} </h1>


{% if graph %}
<div class="block-center">
    <img src="data:image/png;base64, {{graph|safe}}" height="800" width="auto" />
</div>
{% endif %}
    

{% endblock%}