{% extends 'base.html' %}

{% block title %}Add Purchase{% endblock title %}


{% block content %}

{% if message %}
    <div class="ui success message">
        <i class="close icon"></i>
        <div class="header">
            {{ message }}
        </div>
    </div>
{% endif %}



<form action="" method="post" class="ui form">
    {% csrf_token %}

    {{ form }}

    <button type="submit" class="ui positive button mtop">Add sales data</button>
</form>

{% endblock content %}