{% extends 'base.html' %}

{% block title %}Products{% endblock title %}


{% block content %}

    <div class="ui modal mymodal">
        <div class="header">
            <h1>Price Data</h1>
        </div>
        <div class="ui container">
            <ul>
                <li><strong>Count:</strong> {{price.count}}</li>
                <li><strong>Mean:</strong> {{price.mean|floatformat}}</li>
                <li><strong>Medain:</strong> {{price.median}}</li>
                <li><strong>Min:</strong> {{price.min}}</li>
                <li><strong>Max:</strong> {{price.max}}</li>
                <li><strong>Std dev:</strong> {{price.std|floatformat}}</li>
            </ul>
        </div>
    </div>


    <h1>Dataframe</h1>
    <div>
    <div class="block-center">
        
            {% if error_message %}
            <div class="ui red message">
               <i class="close icon"></i>
                <div class="header">
                    {{ error_message }}
                </div>
            </div>
            {% endif %}

        
            {% if request.POST %}
                {% if graph %}
                    <img src="data:image/png;base64, {{ graph | safe }}">      
                {% endif %}
            {% endif %}
        </div>
            
       <form action="" method="POST" class="ui form mtop">
        {% csrf_token %}
        <div class="field">
            <label>Choose a chart type: </label>
            <div class="ui selection dropdown">
                <input type="hidden" name="sales">
                <i class="dropdown icon"></i>
                <div class="default text">----</div>
                <div class="menu">
                    <div class="item" value="bar">Bar plot</div>
                    <div class="item" value="line">Line plot</div>
                    <div class="item" value="count">Count plot</div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Date from: </label>
                    <input type="date" name="date_from">
                </div>
                <div class="field">
                    <label>Date to: </label>
                    <input type="date" name="date_to">
                </div>
            </div>
        </div>
        <div class="block-center">
            <button class='ui primary button' type='submit'>Select</button>
        </div>
    </form>
    <div class="block-center">
        <button type="button" class="ui secondary button button-btn">See Summary</button>
         <br>
        <a href="{% url 'product:add' %}"><button class='ui positive button'>Add records</button></a>
    </div>
    </div>

{% endblock content %}