.mymodal {
  height: 400px !important;
  top: 200px !important;
  font-size: 20px !important;
}

ul li {
    margin: 0 0 10px 0;
}


.ui.button {
    width: 200px;
    border-radius: 0px !important
}

.block-center {
    text-align: center !important;

}

.field-width {
    width: 100%;
}

.mtop {
    margin-top: 10px !important;
}