{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %} DataScience {% endblock title %}</title>

    <!-- jQuery -->

    <!--Custom css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- semantic UI -->
    <link rel="stylesheet"type="text/css" href="{% static 'css/semantic.min.css' %}"/>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="ui container">
      {% block content %} {% endblock content %}

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> {% endcomment %}
      <script src="{% static 'js/semantic.min.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
    </div>
  </body>
</html>
