{% url 'product:home' as path_to_home %}
{% url 'product:add' as path_to_add %}
{% url 'product:sales' as path_to_sales %}
{% url 'csv:upload_file' as path_to_upload_file %}
{% url 'customer:customer-view' as path_to_customer %}



<div class="ui secondary pointing menu">
  <a href="{% url 'product:home' %}" class="item">
    Home
  </a>

  <a href="{{path_to_home}}"  class="item {% if request.path == path_to_home %}active{% endif %}">
    Performance
  </a>
  <a href="{{path_to_sales}}" class="item {% if request.path == path_to_sales %}active{% endif %}">
    Sales
  </a>
  <a href="{{ path_to_customer }}" class="item {% if request.path == path_to_customer %}active{% endif %}">
    Customers
  </a>
  <a href="{{ path_to_add }}" class="item {% if request.path == path_to_add %}active{% endif %}">
    Add records
  </a>
   <a href="{{ path_to_upload_file }}" class="item {% if request.path == path_to_upload_file %}active{% endif %}">
    Upload file
  </a>
  
  <div class="right menu">
     <a href="#" class="item">
      Login
    </a>
  </div>

</div>
