{% extends 'base.html' %}

{% block title %}Upload file{% endblock title %}


{% block content %}

{% if success_message %}
    <div class="ui success message">
        <i class="close icon"></i>
        <div class="header">
            {{ success_message }}
        </div>
    </div>
{% endif %}

{% if error_message %}
    <div class="ui negative message">
        <i class="close icon"></i>
        <div class="header">
            {{ error_message }}
        </div>
    </div>
{% endif %}


<h1>Upload file</h1>
<form action="" method="post" enctype="multipart/form-data" class="ui form">
    {% csrf_token %}

    {{ form }}

    <button type="submit" class="ui positive button mtop">Add data</button>
</form>

{% endblock content %}